<div class="just-flex w-100 flex-column  my-5">

    <div>
      <h1 class="text-center">Similar Books</h1>
  
      <div class="other-card">
        <div id="carouselControlsOther" class="carousel carousel-dark carousel- w-100" data-ride="carousel">
          <div class="carousel-inner">
  
            <div class="carousel-item active">
              <div class="card-wrapper-row-card">
  
                <div *ngFor="let ele of firstIteration;index as i" class="main-card-design">
                  <div class="card-img-on-left">
                    <img [src]="ele.coverImg" alt=""/>
                    <div class="main-card-background-img"></div>
                  </div>
                  <div class="main-card-descrption">
                    <h5 class="title">{{ele.title}}</h5>
                    <p class="author">{{ele.author}}</p>
                    <div class="desc">
                      <p>Pages</p>
                      <p>Catagory</p>
                      <p>Rating</p>
                    </div>
                    <div class="desc-data">
                      <p>{{ele.pages}}</p>
                      <p>{{ele.genres[1][0]||"not Defined"}}</p>
                      <p>{{ele.rating}}</p>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
  
            <div class="carousel-item ">
              <div class="card-wrapper-row-card">
  
                <div *ngFor="let ele of secondIteration;index as i" class="main-card-design">
                  <div class="card-img-on-left">
                    <img [src]="ele.coverImg" alt=""/>
                    <div class="main-card-background-img"></div>
                  </div>
                  <div class="main-card-descrption">
                    <h5 class="title">{{ele.title}}</h5>
                    <p class="author">{{ele.author}}</p>
                    <div class="desc">
                      <p>Pages</p>
                      <p>Catagory</p>
                      <p>Rating</p>
                    </div>
                    <div class="desc-data">
                      <p>{{ele.pages}}</p>
                      <p>{{ele.genres[1][0]||"not Defined"}}</p>
                      <p>{{ele.rating}}</p>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-wrapper-row-card">
  
                <div *ngFor="let ele of thirdIteration;index as i" class="main-card-design">
                  <div class="card-img-on-left">
                    <img [src]="ele.coverImg" alt=""/>
                    <div class="main-card-background-img"></div>
                  </div>
                  <div class="main-card-descrption">
                    <h5 class="title">{{ele.title}}</h5>
                    <p class="author">{{ele.author}}</p>
                    <div class="desc">
                      <p>Pages</p>
                      <p>Catagory</p>
                      <p>Rating</p>
                    </div>
                    <div class="desc-data">
                      <p>{{ele.pages}}</p>
                      <p>{{ele.genres[1][0]||"not Defined"}}</p>
                      <p>{{ele.rating}}</p>
                    </div>
                  </div>
                </div>
  
              </div>
  
            </div>
            <div class="carousel-item">
              <div class="card-wrapper-row-card">
  
                <div *ngFor="let ele of fourthIteration;index as i" class="main-card-design">
                  <div class="card-img-on-left">
                    <img [src]="ele.coverImg" alt=""/>
                    <div class="main-card-background-img"></div>
                  </div>
                  <div class="main-card-descrption">
                    <h5 class="title">{{ele.title}}</h5>
                    <p class="author">{{ele.author}}</p>
                    <div class="desc">
                      <p>Pages</p>
                      <p>Catagory</p>
                      <p>Rating</p>
                    </div>
                    <div class="desc-data">
                      <p>{{ele.pages}}</p>
                      <p>{{ele.genres[1][0]||"not Defined"}}</p>
                      <p>{{ele.rating}}</p>
                    </div>
                  </div>
                </div>
  
              </div>
  
            </div>
            <div class="carousel-item">
              <div class="card-wrapper-row-card">
  
                <div *ngFor="let ele of fifthIteration;index as i" class="main-card-design">
                  <div class="card-img-on-left">
                    <img [src]="ele.coverImg" alt=""/>
                    <div class="main-card-background-img"></div>
                  </div>
                  <div class="main-card-descrption">
                    <h5 class="title">{{ele.title}}</h5>
                    <p class="author">{{ele.author}}</p>
                    <div class="desc">
                      <p>Pages</p>
                      <p>Catagory</p>
                      <p>Rating</p>
                    </div>
                    <div class="desc-data">
                      <p>{{ele.pages}}</p>
                      <p>{{ele.genres[1][0]||"not Defined"}}</p>
                      <p>{{ele.rating}}</p>
                    </div>
                  </div>
                </div>
  
              </div>
  
            </div>
          </div>
  
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselControlsOther"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselControlsOther"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
  
        </div>
      </div>
      
    </div>
