.img-right {
  height: 100vh;
}

.signup-form {
  width: 70vh;
  height: 90vh;
  padding: 5px;
  margin: auto;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border-padding {
  width: 60vh;
  height: 60vh;
  padding: 10px;
  margin: auto;

  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border-padding form div mat-form-field {
  width: 50vh;
}

/**/

.signup-form mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-right: 5px;
}

/**/


/**/

.interests-div mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-right: 5px;
}

/**/
.ripple-background {
  height: 0;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: #C7AD8833;
  animation: ripple 15s infinite;
  box-shadow: 0 0 1px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  top: -100px;
  z-index: -99;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  top: -200px;
  z-index: -99;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  top: -300px;
  z-index: -99;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  top: -400px;
  z-index: -99;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  z-index: -99;
}

.shade1 {
  opacity: 0.2;
}

.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(0.8);
  }
}

/**/
