<div class="container-fluid">
  <div class="dashboard  container">
    <div class="left-sticky">
      <div class="image">
        <img [src]="userPic" alt=""/>
        <h2 class="name">{{userName}}</h2>
      </div>
      <div class="left-body">
        <Button class="btn " *ngFor="let section of sectionsArr" (click)="changeTarget(sectionBtn.innerText)"
                #sectionBtn>
          <h5>{{section}}</h5>
        </Button>
      </div>
    </div>
  </div>


  <div class="right-cont container ">
    <h2>{{desiredLibrary}}</h2>

    <ng-container *ngIf="getData(desiredLibrary) === ownedBooks; ">
      <div class="stand-cont" *ngFor="let data of getData(desiredLibrary)">
        <div class="upper-stand">
          <div class="col-lg-4 col-md-6 col-sm-12 image">
            <img src="{{ data.book.coverPage }}" (click)="goToBook(data.book.id)" alt=""/>
          </div>
        </div>
        <div class="lower-stand col-lg-4">
          <div class="top">
            <button class="btn bottom add-list-btn" *ngIf="!data.avaliable" (click)="addToTrade(data,data.avaliable)">
              Offer For Trade
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="getData(desiredLibrary)==favoriteBooks">
      <div class="stand-cont row mb-5" *ngFor="let data of getData(desiredLibrary)">
        <div class="upper-stand">
          <div class="col-lg-4 col-md-6 col-sm-12 image">
            <img src="{{ data.coverPage }}" (click)="goToBook(data.id)" alt=""/>
          </div>
        </div>
        <div class="lower-stand col-lg-4">
          <div class="top">
            <button
              class="btn bottom add-list-btn"
              *ngIf="getData(desiredLibrary) === ownedObj"
              (click)="addToOwn(data.id)">Add To Owned Book
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="getData(desiredLibrary)==tradeList">
      <div class="stand-cont" *ngFor="let data of getData(desiredLibrary)">
        <ng-container *ngIf="data.avaliable">
          <div class="upper-stand">

            <div class="col-lg-4 col-md-6 col-sm-12 image">
              <img (click)="goToBook(data.book.id)" src="{{ data.book.coverPage }}" alt=""/>
            </div>
          </div>
          <div class="lower-stand col-lg-4">
            <div class="top">
              <button class="btn bottom add-list-btn" *ngIf="data.avaliable"
                      (click)="addToTrade(data,data.avaliable)">
                Remove From Trade List
              </button>
            </div>
          </div>
        </ng-container>

      </div>
    </ng-container>
  </div>
  <app-spinner></app-spinner>
</div>
