<div class="container-fluid">
        <div class="dashboard  container">
          <div class="left-sticky">
            <div class="image">
              <img src=" ./assets/Avatars/men_av_1.png" alt="">
              
              <h2 class="name">Mohamad Abdeen</h2>
          </div>
          <div class="left-body">
            <Button class="btn "*ngFor="let section of sectionsArr"(click)="changeTarget(sectionBtn.innerText)" #sectionBtn>
              <h5  >{{section}}</h5>
            </Button>
  
          </div>
         
              </div>
 
          </div>
           
  
        <div class="right-cont container ">
          <h2>{{desiredLibrary}}</h2>
          <div class="cards-cont row "  >
            <div class="col-lg-3 col-md-6 card mt-lg-2 mt-md-4" *ngFor="let data of getData(desiredLibrary)" >
                <img src="{{data.book.coverPage}}" alt="">
            </div>
          
          </div>
</div>
<app-spinner></app-spinner>