<div class="container-fluid mw-100 d-flex justify-content-around m-0">

  <div class="left-cont col-lg-3 pt-5 d-flex align-items-start justify-content-evenly">

    <div class="row image-cont d-flex justify-content-around align-items-center h-70">

      <div class="col d-flex align-items-center d-flex flex-column">

        <div class="img"><img [src]="currentBookInfo.cover_page" alt=""/></div>

        <button class="btn buy-btn mt-3 text-white"><a class="text-white" href="{{currentBookInfo.book_url}}"
                                                       target="_blank">Show Buying Options</a></button>
        <h5 class="fs-4 font-weight-bold text-dark mt-3">Rate This Book</h5>
        <div class="stars">
          <i style="color: gold;" class="fa-regular fa-star fs-3 ps-3 d-inline mt-3 {{i<getRate()?'fa-solid':''}} "
             *ngFor="let star of [0,1,2,3,4];let i = index;" (click)="setRate(i+1)"></i>
        </div>
        <!--TODO add remove rate button -->
      </div>
    </div>
  </div>
  <div class="right-cont pt-5 pl-5 m-0 col-lg-9 col-md-12">
    <div class="row book-desc d-flex justify-content-aroundh-70 flex-column">
      <div class="col-lg-9 col-md-12">
        <h1 class="fs-1 font-weight-bold text-dark pb-3">{{currentBookInfo.title_without_series}}</h1>
        <h6 class="author fs-4 font-weight-bold">By <a
          href="" class="font-weight-light text-dark">{{currentBookInfo.name}}</a>
        </h6>
        <div class="ratings pt-3">
          <p class="stars">
            <span>
              <i style="color:gold;" class="fa-regular fa-star {{i<currentBookInfo.book_average_rating?'fa-solid':''}}"
                 *ngFor="let star of [0,1,2,3,4];let i = index;"></i></span>
          </p>
          <p class="rating">{{currentBookInfo.book_average_rating}}</p>
        </div>
        <div class="genres mb-3">
          <h6 class="fs-4 font-weight-bold">Genres</h6>
          <div class="row w-30 d-flex ms-4 justify-content-evenly fs-6">
            <div *ngFor="let genre of getGenres(currentBookInfo.genres)" class="col-lg-3 col-md-4 col-sm-6">
              <p><a href="">{{genre}}</a></p>
            </div>
          </div>
        </div>

        <p class="plot font-italic mb-3 col-lg-12 col-md-6 col-sm-3 col-xs-3">
          {{currentBookInfo.correct_book_description}}
        </p>

        <div class="info-cont d-flex flex-column align-items-center just">
          <div
            class="row info w-100 d-flex align-items-center mt-5 justify-content-around"
          >
            <div class="col-lg-4 col-md-6 col-12 info-col">
              <h6>Number Of Pages</h6>
              <span><i class="fa-solid fa-book-open"></i></span>
              <p>{{currentBookInfo.num_pages}}</p>
            </div>
            <div class="col-lg-4 col-md-6 col-12 info-col">
              <h6>Language</h6>
              <span><i class="fa-solid fa-globe"></i></span>
              <p>{{currentBookInfo.language}}</p>
            </div>
            <div class="col-lg-4 col-md-6 col-12 info-col">
              <h6>Release Date</h6>
              <span><i class="fa-solid fa-calendar-days"></i></span>
              <p>{{currentBookInfo.publication_year}}</p>
            </div>
          </div>

          <div class="row info w-100 d-flex align-items-center mt-3 justify-content-around">

            <div class="col-lg-4 col-md-6 col-12 info-col mt-2">
              <button class="btn info-btn text-white">See Trade Options</button>
            </div>
            <div class="col-lg-4 col-md-6 col-12 info-col col mt-2">
              <button class="btn info-btn text-white">Get Similar Books</button>
            </div>
            <div class="col-lg-4 col-md-6 col-12 info-col col mt-2">
              <button class="btn info-btn text-white">Add To My Library</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div *ngFor="let headsAre of headsInTop ; let i = index">
      <h1 class="text-center mt-5">{{headsAre}}</h1>
      <hr/>
      <div [attr.id]=" 'carouselControls'+i " class="carousel carousel-dark carousel- w-100 my-5" data-ride="carousel">
        <div class="carousel-inner" *ngIf="headsAre==='Reader Also Liked';">

          <div class="carousel-item active">
            <div class="card-wrapper-row-card">
              <div *ngFor="let book of similarAuthorBooks|slice:0:3" class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{book.coverImg}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="title fs-3">{{book.title}}</h5>
                  <p class="plot">{{book.description}}</p>
                  <a href="#" class="btn more-btn mt-2 mb-2 mt-2 mb-2 mt-2 mb-2">Read More</a>
                </div>
              </div>
            </div>

          </div>


          <div class="carousel-item ">

            <div class="card-wrapper-row-card ">
              <div *ngFor="let book of similarAuthorBooks|slice:3:6" class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{book.imgCover}}" alt="card image cap">
                <div class="card-body">
                  <h5 class="title fs-3">{{book.title}}</h5>
                  <p class="plot">{{book.description}}</p>
                  <a href="#" class="btn more-btn mt-2 mb-2 mt-2 mb-2 mt-2 mb-2">Read More</a>
                </div>
              </div>
            </div>

          </div>
          <div class="carousel-item">

            <div class="card-wrapper-row-card">
              <div *ngFor="let book of similarAuthorBooks|slice:6:9" class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="img" alt="card image cap">
                <div class="card-body">
                  <h5 class="title fs-3">Card title</h5>
                  <p class="plot">{{book.description}}.</p>
                  <a href="#" class="btn more-btn mt-2 mb-2 mt-2 mb-2 mt-2 mb-2">Read More</a>
                </div>
              </div>
            </div>

          </div>


        </div>
        <!-- <div class="carousel-inner" *ngIf="headsAre==='From The Same Author';">

          <div class="carousel-item active">
            <div class="card-wrapper-row-card">
              <div *ngFor="let book of similarAuthorBooks|slice:0:3" class="card" style="width: 18rem;">
                <img class="card-img-top" src={{book.coverImg}} alt="Card image cap">
                <div class="card-body">
                  <h5 class="title fs-3">{{book.title}}</h5>
                  <p class="plot">{{book.description}}</p>
                  <a href="#" class="btn more-btn mt-2 mb-2 mt-2 mb-2 mt-2 mb-2">Read More</a>
                </div>
              </div>
            </div>

          </div>


          <div class="carousel-item " *ngFor="let book of similarAuthorBooks|slice:3:6">

            <div class="card-wrapper-row-card ">
              <div *ngFor="let book of similarAuthorBooks|slice:3:6" class="card" style="width: 18rem;">
                <img class="card-img-top" src={{book.imgCover}} alt="Card image cap">
                <div class="card-body">
                  <h5 class="title fs-3">{{book.title}}</h5>
                  <p class="plot font-italic">{{book.description}}</p>
                  <a href="#" class="btn more-btn mt-2 mb-2 mt-2 mb-2 mt-2 mb-2 mt-2 mb-2">Read More</a>
                </div>
              </div>
            </div>

          </div>
          <div class="carousel-item">

            <div class="card-wrapper-row-card">
              <div *ngFor="let book of similarAuthorBooks" style="width: 18rem;">
                <img class="card-img-top" src={{book.coverImg}} alt="Card image cap">
                <div class="card-body">
                  <h5 class="title fs-3">Card title</h5>
                  <p class="plot font-italic">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn more-btn mt-2 mb-2 mt-2 mb-2 mt-2 mb-2 mt-2 mb-2">Read More</a>
                </div>
              </div>
            </div>

          </div>




                </div>
                <div class="carousel-inner" *ngIf="headsAre==='Based On Similar Users';">

                  <div class="carousel-item active">
                    <div class="card-wrapper-row-card">
                      <div *ngFor="let book of similarAuthorBooks|slice:0:3" class="card" style="width: 18rem;">
                        <img class="card-img-top" src={{book.coverImg}} alt="Card image cap">
                        <div class="card-body">
                          <h5 class="title">{{book.title}}</h5>
                          <p class="plot font-italic">{{book.description}}</p>
                          <a href="#" class="btn more-btn mt-2 mb-2 mt-2 mb-2 mt-2 mb-2 mt-2 mb-2">Read More</a>
                        </div>
                      </div>
                    </div>

                  </div>


                  <div class="carousel-item " *ngIf="similarAuthorBooks.length>6;then slider">

                    <div class="card-wrapper-row-card " *ngIf="si">
                      <div *ngFor="let book of similarAuthorBooks|slice:3:6" class="card" style="width: 18rem;">
                        <img class="card-img-top" src={{book.imgCover}} alt="Card image cap">
                        <div class="card-body">
                          <h5 class="title fs-3">{{book.title}}</h5>
                          <p class="plot font-italic">{{book.description}}</p>
                          <a href="#" class="btn more-btn mt-2 mb-2 mt-2 mb-2 mt-2 mb-2 mt-2 mb-2">Read More</a>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="carousel-item">

                    <div class="card-wrapper-row-card">
                      <div *ngFor="let img of images3" class="card" style="width: 18rem;">
                        <img class="card-img-top" [src]="img" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="title fs-3">Card title</h5>
                          <p class="plot">{{book.description}}</p>
                          <a href="#" class="btn Read More">Read More</a>
                        </div>
                      </div>
                    </div>

                  </div>




                        </div> -->


        <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselControls'+i"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselControls'+i"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

