/*
  normal card
  */
.card-wrapper-row-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /*justify-content: space-evenly;*/
  justify-content: center;
  margin: 2.5vh 8vh;
}

.carousel-control-prev {
  width: 5%;
  z-index: 9;
}

.carousel-control-next {
  width: 5%;
  z-index: 9;
}

.card{
  margin: 0 0.5em;
}

/*
  end
*/

.main-card-design {
  display: flex;
  height: 300px;
  width: 425px;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #faf8f6;
  box-shadow: 6px 6px 15px 2px rgba(0, 0, 0, 0.25);
  z-index: 2;
  margin: 1vh 2vh;
}

.main-card-design .card-img-on-left {
  padding: 5%;
  width: 50%;
  z-index: 1;
}

.main-card-design .card-img-on-left img {
  max-height: 251px;
  min-height: 251px;
  max-width: 159px;
  min-width: 159px;
}

.main-card-design .card-img-on-left .main-card-background-img {
  position: relative;
  background-color: #141e2d;
  width: 159px;
  height: 251px;
  z-index: -1;
  top: -251px;
  rotate: -12deg;
  border-radius: 10px;
}

.main-card-design .main-card-descrption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
}

.main-card-design .main-card-descrption .title {
  padding-top: 20px;
  font-size: 26px;
  height: 77px;
  inline-size: 165px;
  overflow-wrap: break-word;
  line-height: normal;
  text-align: center;
}
.main-card-design .main-card-descrption .author {
  font-size: 25px;
  opacity: 53%;
}

.main-card-design .main-card-descrption .desc {
  display: flex;
  width: 165px;
  justify-content: space-between;
}
.main-card-design .main-card-descrption .desc p {
  font-weight: 600;
}
.main-card-design .main-card-descrption .desc-data {
  display: flex;
  width: 165px;
  justify-content: space-around;
  font-weight: 500;
}
