/*
  normal card
  */
.card-wrapper-row-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /*justify-content: center;*/
  margin: 2.5vh 6vh;
}
@media (max-width: 1289px) {
  .flip-card .carousel-inner{
    overflow: scroll !important;
  }
  .first-card .card-wrapper-row-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: center;
    margin: 2.5vh 6vh;
  }
}

.carousel-control-prev {
  width: 5%;
  z-index: 9;
}

.carousel-control-next {
  width: 5%;
  z-index: 9;
}

.card {
  margin: 0 0.5em;
}

/*
  end
*/

.main-card-design {
  display: flex;
  height: 300px;
  width: 580px;
  flex-direction: row;
  /* justify-content: space-around; */
  background-color: #faf8f6;
  box-shadow: 6px 6px 15px 2px rgba(0, 0, 0, 0.25);
  z-index: 2;

}

.main-card-design .card-img-on-left {
  padding: 5%;
  width: 50%;
  z-index: 1;
}

.main-card-design .card-img-on-left img {
  max-height: 251px;
  min-height: 251px;
  max-width: 159px;
  min-width: 159px;
}

.main-card-design .card-img-on-left .main-card-background-img {
  position: relative;
  background-color: #141e2d;
  width: 159px;
  height: 251px;
  z-index: -1;
  top: -251px;
  rotate: -12deg;
  border-radius: 10px;
}


.main-card-design .main-card-description {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  justify-content: space-evenly;
  padding: 5px;
  width: 80%;
}

.main-card-design .main-card-description .title {
  padding-top: 20px;
  font-size: 26px;
  max-height: 80px;
  width: 100%;
  text-align: center;
  overflow-wrap: break-word;
  line-height: normal;
}

.main-card-design .main-card-description .author {
  font-size: 24px;
  opacity: 53%;
  overflow-wrap: break-word;
  text-align: center;
}

.main-card-design .main-card-description .desc {
  display: flex;
  justify-content: space-evenly;
}

.main-card-design .main-card-description .desc-data {
  display: flex;
  justify-content: space-evenly;
}

.main-card-design .main-card-description .desc-data p {
  opacity: 53%;
}
//start of the second type of the slider
.card-wrapper-row-card {
  height: 400px;
  max-height: 400px;
  .flip-card {
    width:20%;
    height: 100%;
      border: 1px solid transparent;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */

      &:hover .flip-card-inner {
        transform: rotateY(180deg);
      }

      /* This container is needed to position the front and back side */
      .card-cont,.flip-card-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 0 0.5em;
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        -webkit-box-shadow: 18px 6px 20px -14px rgb(20 30 45);
        -moz-box-shadow: 18px 6px 20px -14px rgb(20 30 45);
        box-shadow: 18px 6px 20px -14px rgb(20 30 45);
        border-radius: 20px;

        .flip-card-front,.flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden; /* Safari */
          backface-visibility: hidden;
          border: none;
          background-color: transparent;
          border-radius: 20px;
          img {
         width: 100%;
         height: 100%;
            max-height: 100%;
            max-width: 100%;
           border-radius: 20px;

          }
        }
        .flip-card-back {
          background-color: #F3EBD9;
          transform: rotateY(180deg);
          height: 100%;
          width: 100%;

          .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 90%;
            color: #141e2d;

            .title {
              line-height: 1.5em;
            }

            .plot {
              max-height: 100px;
              overflow: hidden;
              z-index: 2;
            }

            .btn-more {
              display: inline-block;
              padding: .75rem 1.25rem;
              border-radius: 10rem;
              color: #fff;
              text-transform: uppercase;
              font-size: 1rem;
              letter-spacing: .15rem;
              transition: all .3s;
              position: relative;
              overflow: hidden;
              width: 60%;
              z-index: 1;

              &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #141e2d;
                border-radius: 10rem;
                z-index: -2;
              }

              &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: darken(#F3EBD9, 15%);
                transition: all .3s;
                border-radius: 10rem;
                z-index: -1;
              }

              &:hover {
                color: #141e2d;

                &:before {
                  width: 100%;
                }
              }
            }

          }
        }

      }
    }


}
