<div class="just-flex w-100 flex-column">
  <div *ngFor="let headsAre of headsInTop ; let i = index">
    <h1 class="text-center mt-5">{{headsAre}}</h1>

    <div class="first-card" *ngIf="i==0">
      <div id="carouselControlsRFU" class="carousel carousel-dark w-100" data-ride="carousel">
        <div class="carousel-inner" *ngFor="let _2dArr of topArr; let i = index;">

          <div class="carousel-item {{i==0?'active':''}} ">
            <div class="card-wrapper-row-card">

              <div class="main-card-design mt-md-4" (click)="goToBookPage(book['book_id'])" *ngFor="let book of _2dArr;let i = index;">
                <div class="card-img-on-left">
                  <img [src]="book.cover_page" alt=""/>
                  <div class="main-card-background-img"></div>
                </div>
                <div class="main-card-description">

                  <h5 class="title">{{getBookTitle(book.title_without_series)}}</h5>
                  <p class="author">{{book.name}}</p>
                  <div>
                    <div class="desc">
                      <p>Pages</p>
                      <p>Category</p>
                      <p>Rating</p>
                    </div>
                    <div class="desc-data">
                      <p>{{book.num_pages}}.</p>
                      <div class="just-flex flex-column">
                        <span class="m-auto" *ngFor="let genre of getGenres(book.genres)">{{genre.toString()}}</span>
                      </div>
                      <p>{{book.book_average_rating}}.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControlsRFU"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselControlsRFU"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="other-two-cards" *ngIf="i!=0">
      <div [attr.id]="'carouselControls'+i" class="carousel carousel-dark w-100 my-5" data-ride="carousel">
        <div class="carousel-inner" *ngFor="let _3dArr of (i%2==1?YInterests:BoSU) ; let i = index;">
          <div class="carousel-item {{i==0?'active':''}} ">
            <div class="card-wrapper-row-card">
              <div class="card-wrapper-row-card row flip-card" *ngFor="let book of _3dArr">
                <div class="flip-card-inner card-cont">
                  <div class="flip-card-front">
                    <img src='{{book.cover_page}}' alt="Avatar" class="card-img-top">
                  </div>
                  <div class="flip-card-back">
                    <div class="card-body mt-4 p-2">
                      <h5 class="title fs-3">{{book.title_without_series}}</h5>
                      <p class="plot">{{book.correct_book_description}}</p>
                      <a (click)="goToBookPage(book['book_id'])" class="btn-more btn ">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselControls'+i"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselControls'+i"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="all-interest" *ngFor="let x of allGenreName;let y = index">
    <h1 class="text-center mt-5">{{x}}</h1>
    <div [attr.id]="'carouselControls'+y+3" class="carousel carousel-dark w-100 my-5" data-ride="carousel">
      <div class="carousel-inner" *ngFor="let _3dArr of allGenreArr[y]; let i = index;">
        <div class="carousel-item {{i==0?'active':''}} ">
          <div class="card-wrapper-row-card">
            <div class="card-wrapper-row-card row flip-card" *ngFor="let book of _3dArr">
              <div class="flip-card-inner card-cont">
                <div class="flip-card-front">
                  <img src='{{book.cover_page}}' alt="Avatar" class="card-img-top">
                </div>
                <div class="flip-card-back">
                  <div class="card-body mt-4 p-2">
                    <h5 class="title fs-3">{{book.title_without_series}}</h5>
                    <p class="plot">{{book.correct_book_description}}</p>
                    <a (click)="goToBookPage(book['book_id'])" class="btn-more btn ">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselControls'+y+3"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselControls'+y+3"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>

