<div class="just-flex w-100 flex-column">

  <div>
    <h1 class="text-center">Top 10 Books</h1>
    <div class="other-card">
      <div id="carouselControlsOther" class="carousel carousel-dark w-100 " data-ride="carousel">

        <div class="carousel-inner">

          <div class="carousel-item active">
            <!--               ngClass="{ active: }"-->
            <div class="card-wrapper-row-card">

              <div class="main-card-design" *ngFor="let arr of images">

                <div class="card-img-on-left">
                  <img [src]="imgPath" alt=""/>
                  <div class="main-card-background-img"></div>
                </div>
                <div class="main-card-descrption">
                  <h5 class="title">Atomic Habits</h5>
                  <p class="author">James Clear</p>
                  <div>
                    <div class="desc">
                      <p>Pages</p>
                      <p>Catagory</p>
                      <p>Rating</p>
                    </div>
                    <div class="desc-data">
                      <p>350.</p>
                      <p>Self-help.</p>
                      <p>7.7</p>
                    </div>
                  </div>
                </div>

              </div>

              <!-- <div class="main-card-design">
                <div class="card-img-on-left">
                  <img [src]="imgPath" alt=""/>
                  <div class="main-card-background-img"></div>
                </div>
                <div class="main-card-descrption">
                  <h5 class="title">Atomic Habits</h5>
                  <p class="author">James Clear</p>
                  <div>
                    <div class="desc">
                      <p>Pages</p>
                      <p>Catagory</p>
                      <p>Rating</p>
                    </div>
                    <div class="desc-data">
                      <p>350.</p>
                      <p>Self-help.</p>
                      <p>7.7</p>
                    </div>
                  </div>
                </div>
              </div> -->

            </div>
          </div>
          <div class="carousel-item ">
            <div class="card-wrapper-row-card">

              <div class="main-card-design">
                <div class="card-img-on-left">
                  <img [src]="imgPath" alt=""/>
                  <div class="main-card-background-img"></div>
                </div>
                <div class="main-card-descrption">
                  <h5 class="title">Atomic Habits</h5>
                  <p class="author">James Clear</p>
                  <div>
                    <div class="desc">
                      <p>Pages</p>
                      <p>Catagory</p>
                      <p>Rating</p>
                    </div>
                    <div class="desc-data">
                      <p>350.</p>
                      <p>Self-help.</p>
                      <p>7.7</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="main-card-design">
                <div class="card-img-on-left">
                  <img [src]="imgPath" alt=""/>
                  <div class="main-card-background-img"></div>
                </div>
                <div class="main-card-descrption">
                  <h5 class="title">Atomic Habits</h5>
                  <p class="author">James Clear</p>
                  <div>
                    <div class="desc">
                      <p>Pages</p>
                      <p>Catagory</p>
                      <p>Rating</p>
                    </div>
                    <div class="desc-data">
                      <p>350.</p>
                      <p>Self-help.</p>
                      <p>7.7</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="carousel-item">
            <div class="card-wrapper-row-card">

              <div class="main-card-design">
                <div class="card-img-on-left">
                  <img [src]="imgPath" alt=""/>
                  <div class="main-card-background-img"></div>
                </div>
                <div class="main-card-descrption">
                  <h5 class="title">Atomic Habits</h5>
                  <p class="author">James Clear</p>
                  <div>
                    <div class="desc">
                      <p>Pages</p>
                      <p>Catagory</p>
                      <p>Rating</p>
                    </div>
                    <div class="desc-data">
                      <p>350.</p>
                      <p>Self-help.</p>
                      <p>7.7</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="main-card-design">
                <div class="card-img-on-left">
                  <img [src]="imgPath" alt=""/>
                  <div class="main-card-background-img"></div>
                </div>
                <div class="main-card-descrption">
                  <h5 class="title">Atomic Habits</h5>
                  <p class="author">James Clear</p>
                  <div>
                    <div class="desc">
                      <p>Pages</p>
                      <p>Catagory</p>
                      <p>Rating</p>
                    </div>
                    <div class="desc-data">
                      <p>350.</p>
                      <p>Self-help.</p>
                      <p>7.7</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControlsOther"
                data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span
          class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselControlsOther"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>
  </div>
  <div *ngFor="let headsAre of headsInTop ; let i = index">
    <h1 class="text-center">{{headsAre}}</h1>
    <hr/>
    <div [attr.id]=" 'carouselControls'+i " class="carousel carousel-dark carousel- w-100 my-5" data-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="card-wrapper-row-card">
            <div *ngFor="let img of images" class="card" style="width: 18rem;">
              <img class="card-img-top" [src]="img" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

        </div>
        <div class="carousel-item ">

          <div class="card-wrapper-row-card">
            <div *ngFor="let img of images2" class="card" style="width: 18rem;">
              <img class="card-img-top" [src]="img" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

        </div>
        <div class="carousel-item">

          <div class="card-wrapper-row-card">
            <div *ngFor="let img of images3" class="card" style="width: 18rem;">
              <img class="card-img-top" [src]="img" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

        </div>

      </div>
      <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselControls'+i"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselControls'+i"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
