<mat-drawer-container [hasBackdrop]="false" class="height-full">

  <mat-drawer #drawer class="height-full" mode="side" position="end">

    <mat-card class="card-background height-full card border-dark p-auto overflow-auto">
      <mat-card-header class="card-title  just-flex flex-row justify-content-center">
        <mat-card-title class="text-warp-title-box">{{titleOfTheBook}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="just-flex flex-column">

        <div class="just-flex flex-row  justify-content-center">
          <img alt="book"
               class="card-img-thumbnail"
               src="https://books.google.com/books/publisher/content/images/frontcover/zlNdEAAAQBAJ?fife=w480-h690">
        </div>

        <div class="just-flex flex-row  justify-content-center py-2 ">
          <mat-card-subtitle class="sub-text-color">{{authorName}}</mat-card-subtitle>
        </div>

        <mat-card-footer class="just-flex justify-content-center">
          <p class="text-warp-p-box text-center">a heartbreaking tale about domestic abuse and violence with a
            heartbreakingly necessary ending.
            interviews and the author's</p>
        </mat-card-footer>

        <div class="contant-row-for-book ">
          <div class="content-row-for-book-v">
            <span>Pages</span>
            <span class="text-center sub-text-color">world</span>
          </div>

          <div class="ver-line mx-3"></div>

          <div class="content-row-for-book-v">
            <span>Category</span>
            <span class="text-center sub-text-color">world</span>
          </div>

          <div class="ver-line mx-3"></div>

          <div class="content-row-for-book-v">
            <span>Ratings</span>
            <span class="text-center sub-text-color">world</span>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <div class="just-flex flex-row w-100 justify-content-center">
          <button mat-raised-button>Read More</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar class="sticky-top">

      <a routerLink="app">
        <mat-icon class="main-icon">
          <img alt="Jo-Book" src="/assets/icons/Jobook.svg">
        </mat-icon>
      </a>

      <span class="small-spacer"> </span>

      <div class="my-toolbar just-flex flex-row justify-content-evenly  align-items-center">

        <button mat-button routerLink="trade">
          <span>Trade Now</span>
        </button>

        <button mat-button routerLink="library">
          <span>My Library</span>
        </button>
<!-- 
        <app-search-bar></app-search-bar> -->
        <!-- <mat-icon>dashboard</mat-icon> -->
        <button [matMenuTriggerFor]="menu" mat-stroked-button>
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <!-- <mat-icon>person</mat-icon> -->
            <mat-icon matPrefix>dashboard</mat-icon>
            Profile
          </button>
          <button mat-menu-item (click)="LogOut()">
            <mat-icon matPrefix>close</mat-icon>
            Log Out
          </button>
        </mat-menu>
      </div>

    </mat-toolbar>
    <router-outlet class=""></router-outlet>
    <button (click)="toggleDrawer(drawer)" class="btn btn-secondary">click</button>

  </mat-drawer-content>

</mat-drawer-container>
