/*for tool bar*/
.fixed-at-top {
  position: sticky;
  z-index: 100;
  top: 0;
}

.my-toolbar {
  width: 100%;
}

mat-drawer {
  width: 25%;
  background: #1e2330;
  position: fixed;
  z-index: 999;

}

.search-width {
  font-size: medium;
  width: calc(20%);
}

.my-float {
  margin-top: 18px;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box, .chat-box {
  overflow-x: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;

  z-index: 9999;

  bottom: 39px;

  background-color: #2a3248;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.main-icon {
  margin-left: 30px;
  width: 100px;
  height: 43px;
}

.prof-icon {
  height: 40px;
}

/* End */


/*
      for Slide nav
*/

/*for text width  */
.text-warp-title-box {
  inline-size: 165px;
  overflow-wrap: break-word;
  text-align: center;
  line-height: normal;
}

.text-warp-p-box {
  inline-size: 300px;
  overflow-wrap: break-word;
}

/*for text Color */
.card-background {
  background: #1e2330;
  color: white;
}

.sub-text-color {
  color: rgba(255, 255, 255, 0.65);
}

/* for img */
.card-img-thumbnail {
  padding: .25rem;
  background-color: #1e2330;
  border: 1px solid var(--bs-border-color);
  border-radius: .375rem;
  max-width: 300px;
  height: auto;
}

/* for footer category,pages, */
.contant-row-for-book {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 33px;
  background: #2a3248;
  margin-top: 6%;
  border: 3px solid papayawhip;
}

.content-row-for-book-v {
  display: flex;
  flex-direction: column;
  margin: 3px 3px;
}

.ver-line {
  border-left: 3px solid;
  height: 30px;
}

