<mat-drawer-container [hasBackdrop]="false" class="height-full">

  <mat-drawer #drawer class="height-full" mode="over" position="start">

    <mat-card class="card-background height-full card border-dark p-auto overflow-auto">
      <mat-card-header>
        <div class="py-2 ">
          <p class="h5 mb-0 py-1">Recent :</p>
        </div>
      </mat-card-header>

      <div class="px-0">
        <div class="messages-box">
          <div class="list-group rounded-0">
            <!---->
            <a class="list-group-item list-group-item-action rounded-0 mb-2"
               (click)="goToC(my)"
               *ngFor="let my of conver;let i = index;">
              <div class="media just-flex flex-row justify-content-between">
                <img src="{{my.image}}" alt="user"
                     width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="align-items-center justify-content-between mt-3">
                    <h6 class="mb-0">{{my.username}}</h6>
                  </div>
                </div>
                <img [src]="my.imgUrl" alt="user"
                     width="50" class="">
              </div>
            </a>
            <!---->
          </div>
        </div>
      </div>
    </mat-card>
  </mat-drawer>

  <mat-drawer-content id="mat-drawer-content">
    <mat-toolbar class="sticky-top">
      <span class="small-spacer"></span>
      <a routerLink="app">
        <mat-icon class="main-icon">
          <img alt="Jo-Book" src="/assets/icons/Jobook.svg">
        </mat-icon>
      </a>

      <span class="small-spacer"> </span>

      <div class="my-toolbar just-flex flex-row justify-content-evenly  align-items-center">

        <button mat-button routerLink="trade">
          <span>Trade Now</span>
        </button>

        <button mat-button routerLink="library">
          <span>My Library</span>
        </button>
        <mat-form-field class="search-width" *ngIf="positionInSearch">
          <div class="search-bar">
            <input [(ngModel)]="searchValue" matInput matNativeControl type="text" class="search-input"
                   (keyup.enter)="onEnter()">
            <button *ngIf="searchValue" (click)="onEnter()" mat-icon-button matSuffix>
              <mat-icon matSuffix>search</mat-icon>
            </button>
            <button (click)="searchValue=''" mat-icon-button matSuffix>
              <mat-icon matSuffix>{{searchValue ? 'close' : 'search'}}</mat-icon>
            </button>
          </div>
        </mat-form-field>
        <!-- <mat-icon>dashboard</mat-icon> -->
        <button [matMenuTriggerFor]="menu" mat-stroked-button>
          <img class="prof-icon" [src]="profilePic" alt="">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="profile">
            <mat-icon matPrefix>person</mat-icon>
            Profile
          </button>

          <button mat-menu-item (click)="LogOut()">
            <mat-icon matPrefix>close</mat-icon>
            Log Out
          </button>
        </mat-menu>
      </div>

    </mat-toolbar>
    <a (click)="toggleDrawer(drawer)" class="float" style="{{drawer.opened?'left:27%;':'left:35px;'}}" [hidden]="false">
      <mat-icon class="my-float">{{drawer.opened ? 'close' : 'message'}} </mat-icon>
    </a>
    <router-outlet class=""></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


