* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.contant-row-for-book {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 33px;
  background: #2a3248;
  margin-top: 6%;
  border: 3px solid papayawhip;

}

.content-row-for-book-v {
  display: flex;
  flex-direction: column;
  margin: 3px 3px;
}

.just-flex {
  display: flex;
}

.text-warp-title-box {
  inline-size: 150px;
  overflow-wrap: break-word;
  text-align: center;
}

.text-warp-p-box {
  inline-size: 300px;
  overflow-wrap: break-word;
}

.ver-line {
  border-left: 3px solid;
  height: 30px;
}

.height-full {
  height: 100vh;
}

mat-drawer {
  width: 30%;
  background: #1e2330;
}

.sub-text-color {
  color: rgba(255, 255, 255, 0.65);
}

.card-background {
  background: #1e2330;
  color: white;
}

.my-toolbar {
  width: 100%;
}

/*.test-width {*/
/*  width: 100%;*/
/*  !*justify-content: space-around;*!*/
/*}*/

.card-img-thumbnail {
  padding: .25rem;
  background-color: #1e2330;
  border: 1px solid var(--bs-border-color);
  border-radius: .375rem;
  max-width: 300px;
  height: auto;
}

.main-icon {
  width: 100px;
  height: 40px;
}

.small-spacer {
  flex: 0.05;
}

.search-width {
  font-size: medium;
  width: calc(20%);
}
