@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$gray-palette, 100);
$my-accent: mat.define-palette(mat.$gray-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$light-blue-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary : $my-primary,
    accent : $my-accent,
    warn : $my-warn,
  ),
  density: 0,
));

@include mat.button-color($my-theme);
@include mat.slider-color($my-theme);
@include mat.sidenav-color($my-theme);

@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);

