:host {
  --main-color: #141e2d;
  --off-white: #f3ebd9;
}

.container-fluid .filter-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
}
.container-fluid .filter-cont .radio-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 180px;
  margin: auto;
  position: relative;
}
.container-fluid .filter-cont .radio-cont input {
  opacity: 0;
  position: absolute;
}
.container-fluid .filter-cont .radio-cont label {
  text-align: left;
  font-size: 20px;
}
.container-fluid .filter-cont .radio-cont .custom-radio {
  width: 25px;
  height: 25px;
  border: 2px solid #444;
  border-radius: 50%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid .filter-cont .radio-cont .custom-radio input:checked + .checkMark {
  display: inline-block;
  opacity: 1;
}
.container-fluid .filter-cont .radio-cont .custom-radio .checkMark {
  display: none;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 50%;
  background-color: #141e2d;
  transition: opacity 0.9s ease;
  opacity: 0;
}
.container-fluid .search-cont {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.container-fluid .search-cont input {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 100%;
  margin: 0;
  color: #141e2d;
  background-color: #f6f6f6;
  text-align: center;
  border: 2px solid #141e2d;
  font-weight: 500;
  font-size: 20px;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: translateY(-10px);
}
.container-fluid .search-cont input:focus {
  outline: none;
}
.container-fluid .search-cont .search-btn {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 100px;
  height: 100%;
  /*border: none;*/
  background-color: #f6f6f6;
  border: 2px solid #141e2d;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateY(-10px);
}
.container-fluid .search-cont .search-btn i {
  font-size: 25px;
  color: #141e2d;
  display: inline-block;
}
.container-fluid .search-cont .filter-btn {
  width: 200px;
}
.container-fluid .search-cont .filter-btn i {
  transition-delay: 2s;
}
.container-fluid h3 span {
  color: #141e2d;
}
.container-fluid input {
  width: 30%;
}

.container .cards-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container .cards-cont .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 500px;
  background-color: transparent;
  border: none;
}
.container .cards-cont .card .image {
  width: 100%;
  height: 70%;
  position: relative;
}
.container .cards-cont .card .image img {
  width: 250px;
  height: 100%;
  max-width: 150px;
  min-width: 100%;
  min-height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container .cards-cont .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  background-color: #f3ebd9;
  text-align: center;
}
.container .cards-cont .card .card-body .title {
  max-height: 25px;
  overflow: hidden;
}
.container .cards-cont .card .card-body .btn-more {
  display: inline-block;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40px;
  z-index: 1;
}
.container .cards-cont .card .card-body .btn-more:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141e2d;
  border-radius: 10rem;
  z-index: -2;
}
.container .cards-cont .card .card-body .btn-more:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #e1cc9f;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.container .cards-cont .card .card-body .btn-more:hover {
  color: #141e2d;
}
.container .cards-cont .card .card-body .btn-more:hover:before {
  width: 100%;
}/*# sourceMappingURL=search-page.component.css.map */
