:host {
  --main-color: #141e2d;
  --off-white: #f3ebd9;
}

.container-fluid .search-cont {
  position: relative;
  height: 200px;
  padding: 0;
}
.container-fluid .search-cont .search-bar {
  position: relative;
  bottom: 10%;
}
.container-fluid .search-cont .search-bar .search-input {
  display: inline-block;
  background-color: #141e2d;
  width: 500px;
  border: 2px solid #f3ebd9;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: #f3ebd9;
}
.container-fluid .search-cont .search-bar .search-input:focus {
  outline: none;
}
.container-fluid .search-cont .filters-drop {
  position: absolute;
  width: 110px;
  height: 50px;
  color: #f3ebd9;
  background-color: #141e2d;
  top: 1px;
  left: 25%;
  margin: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid #f3ebd9;
}
.container-fluid .search-cont .search-btn {
  position: relative;
  top: 1px;
  left: 65%;
  width: 110px;
  height: 50px;
  background-color: #141e2d;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid #f3ebd9;
}
.container-fluid .search-cont .search-btn .search-icon {
  color: #f3ebd9;
  font-size: 30px;
  text-align: center;
  padding: auto;
}
.container-fluid .search-cont .top {
  width: 100%;
  height: 50px;
  background-color: #f3ebd9;
  margin: 0;
}
.container-fluid .search-cont h3 span {
  color: #141e2d;
}
.container-fluid .search-cont input {
  width: 30%;
}
.container-fluid .container .cards-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container-fluid .container .cards-cont .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 400px;
  background-color: transparent;
  border: none;
}
.container-fluid .container .cards-cont .card .image {
  width: 100%;
  height: 60%;
  position: relative;
}
.container-fluid .container .cards-cont .card .image img {
  width: 150px;
  height: 100%;
  max-width: 150px;
  min-width: 100%;
  min-height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container-fluid .container .cards-cont .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  background-color: #f3ebd9;
  text-align: center;
}
.container-fluid .container .cards-cont .card .card-body .btn-more {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  width: 60%;
  z-index: 1;
}
.container-fluid .container .cards-cont .card .card-body .btn-more:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141e2d;
  border-radius: 10rem;
  z-index: -2;
}
.container-fluid .container .cards-cont .card .card-body .btn-more:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #e1cc9f;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.container-fluid .container .cards-cont .card .card-body .btn-more:hover {
  color: #141e2d;
}
.container-fluid .container .cards-cont .card .card-body .btn-more:hover:before {
  width: 100%;
}/*# sourceMappingURL=search-page.component.css.map */