<div class="container-fluid">
  <div class="container">
<div class="trade-List-cont">
  <div class="row w-100 d-flex justify-content-around m-auto">
    <h1 class="mt-5 mb-3">Your Trade List</h1>
    <div class="book col-lg-2 col-md-4 col-sm-12 mb-md-3 mb-sm-5 "*ngFor="let data of yourTradeList">
      <div class="card-wrapper-row-card">
        <div class="card-wrapper-row-card row flip-card" >
          <div class="flip-card-inner card-cont">
            <div class="flip-card-front">
              <img src="{{data.book['coverPage']}}" alt="Avatar" class="card-img-top">
            </div>
            <div class="flip-card-back">
              <div class="card-body mt-4 p-2">
                <h5 class="title fs-3">{{data.book.title}}</h5>
                <a (click)="onExchangeUi(data.id)" class="btn-more btn ">Exchange</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button *ngIf="getData().length>6">Show More</button>
</div>
<div class="exchangable-cont">
  <div class="row w-100 d-flex justify-content-around m-auto">
    <h1 class="mt-5 mb-3">Discorver In Your City</h1>
    <div class="book col-lg-2 col-md-4 col-sm-12 mb-md-3 mb-sm-5 "*ngFor="let data of yourTradeList">
      <div class="card-wrapper-row-card">
        <div class="card-wrapper-row-card row flip-card" >
          <div class="flip-card-inner card-cont">
            <div class="flip-card-front">
              <img src="{{data.book['coverPage']}}" alt="Avatar" class="card-img-top">
            </div>
            <div class="flip-card-back">
              <div class="card-body mt-4 p-2">
                <h5 class="title fs-3">{{data.book.title}}</h5>
                <a (click)="goToBookPage(book['id'])" class="btn-more btn ">Exchange</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<app-spinner></app-spinner>
