body {
  width: 100%;
}

.container .exchange-offers {
  height: auto;
  transform: translateY(-200%);
  transition: all 0.5s ease-in-out;
}
.container .exchange-offers .owned-book, .container .exchange-offers .other-book {
  display: flex;
  height: 100%;
  width: 40%;
  flex-direction: column;
  align-items: center;
}
.container .exchange-offers .owned-book image, .container .exchange-offers .other-book image {
  display: flex;
  align-items: center;
  width: 100%;
}
.container .exchange-offers .owned-book image img, .container .exchange-offers .other-book image img {
  min-height: 60%;
  min-width: 70%;
  width: 70%;
  height: 60%;
  border-radius: 20px;
}
.container .exchange-offers .user-info {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .exchange-offers .user-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.container .exchange-offers .user-info h5 {
  font-size: 1.5em;
}
.container .confirm-btn {
  width: 30%;
  display: inline-block;
  border-radius: 5rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 30px;
  font-weight: 500;
  transition-delay: 0.1s;
  align-self: flex-end;
}
.container .confirm-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141e2d;
  border-radius: 10rem;
  z-index: -2;
  font-size: 1.1em;
}
.container .confirm-btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #e1cc9f;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.container .confirm-btn:hover {
  color: #141e2d;
}
.container .confirm-btn:hover:before {
  width: 100%;
}
.container .show-offers {
  height: auto;
  width: 90%;
  transition: all 0.5s ease-in-out;
  transform: translateY(0%);
}
.container .show-more-exchange {
  height: auto;
  max-height: 100%;
}
.container .show-more-trade {
  height: auto;
  max-height: 100%;
}
.container .show-more-btn {
  display: inline-block;
  border-radius: 5rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  width: 95%;
  z-index: 1;
  height: 30px;
  font-weight: 500;
  transition-delay: 1s;
}
.container .show-more-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141e2d;
  border-radius: 10rem;
  z-index: -2;
}
.container .show-more-btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #e1cc9f;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.container .show-more-btn:hover {
  color: #141e2d;
}
.container .show-more-btn:hover:before {
  width: 100%;
}

.idk {
  height: 400px;
  max-height: 400px;
  transition: all 0.5s ease-in-out;
}

.trade-List-cont {
  height: 100%;
  max-height: 400px;
}

.exchangable-cont {
  height: 100%;
  max-height: 400px;
}

.trade-List-cont, .exchangable-cont {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.trade-List-cont h1, .exchangable-cont h1 {
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  color: #141e2d;
}
.trade-List-cont .book, .exchangable-cont .book {
  min-width: 250px;
}
.trade-List-cont .book .card-wrapper-row-card, .exchangable-cont .book .card-wrapper-row-card {
  height: 300px;
  max-height: 300px;
}
.trade-List-cont .book .card-wrapper-row-card .flip-card, .exchangable-cont .book .card-wrapper-row-card .flip-card {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  /* This container is needed to position the front and back side */
}
.trade-List-cont .book .card-wrapper-row-card .flip-card:hover .flip-card-inner, .exchangable-cont .book .card-wrapper-row-card .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 0.5em;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 18px 6px 20px -14px rgb(20, 30, 45);
  border-radius: 20px;
}
.trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-front, .trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-front, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-front, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-front, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border: none;
  background-color: transparent;
  border-radius: 20px;
}
.trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-front img, .trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back img, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-front img, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back img, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-front img, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back img, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-front img, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 20px;
}
.trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back {
  background-color: #F3EBD9;
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
}
.trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;
  color: #141e2d;
}
.trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .title, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .title, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .title, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .title {
  width: 90%;
  line-height: 1.5em;
  max-height: 120px;
  overflow: hidden;
}
.trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .plot, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .plot, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .plot, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .plot {
  max-height: 100px;
  overflow: hidden;
  z-index: 2;
}
.trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .btn-more, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .btn-more, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .btn-more, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .btn-more {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  width: 90%;
  z-index: 1;
}
.trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .btn-more:after, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .btn-more:after, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .btn-more:after, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .btn-more:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141e2d;
  border-radius: 10rem;
  z-index: -2;
}
.trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .btn-more:before, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .btn-more:before, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .btn-more:before, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .btn-more:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #e1cc9f;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .btn-more:hover, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .btn-more:hover, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .btn-more:hover, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .btn-more:hover {
  color: #141e2d;
}
.trade-List-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .btn-more:hover:before, .trade-List-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .btn-more:hover:before, .exchangable-cont .book .card-wrapper-row-card .flip-card .card-cont .flip-card-back .card-body .btn-more:hover:before, .exchangable-cont .book .card-wrapper-row-card .flip-card .flip-card-inner .flip-card-back .card-body .btn-more:hover:before {
  width: 100%;
}/*# sourceMappingURL=trade-now.component.css.map */